.avatar{

	height: 110px;
    width: 110px;

}

#newmsg{

	margin: 15px 15px 15px 15px;

}
#cabecera {
	background-color:rgba(0,88,175,0.9);
}

#cabecera h2{

	font-family: "goudy-bookletter-1911-1","goudy-bookletter-1911-2","Baskerville","Georgia",serif;
	font-size: 56px;
	color: #FFFFFF;
	margin: 40px 0 0 210px;
	border-style: solid;
    border-width: 1px;
    border-color: rgba(15,8,202,0.6);
    padding: 20px;
    width: 440px;
    z-index: 2;
	border-radius: 15px;
	border-width: 10px;
	box-shadow:20px 5px 20px #FFFFFF;
	background-color:rgba(180,180,144,0);
	/*background: linear-gradient(#444444, #999999);*/
	transform: scale(0.8,0.8)				 /*rotate(7.5deg) rotateY(180deg)*/;
	/*-moz-transition: 3s linear;
	transition: 3s linear;*/
	
}

#cabecera h4{

	margin: 40px 0 0 700px;
	
}
